OPENPEACH_VMESS_NAME="RackNerd-VMess-WS"
OPENPEACH_VMESS_SERVER="example.com"
OPENPEACH_VMESS_PORT="443"
OPENPEACH_VMESS_UUID="00000000-0000-0000-0000-000000000000"
OPENPEACH_VMESS_ALTER_ID="0"
OPENPEACH_VMESS_CIPHER="auto"
OPENPEACH_VMESS_TLS="true"
OPENPEACH_VMESS_SERVER_NAME="example.com"
OPENPEACH_VMESS_WS_PATH="/ws"
OPENPEACH_VMESS_WS_HOST="example.com"
OPENPEACH_VMESS_UDP="true"
OPENPEACH_VMESS_SKIP_CERT_VERIFY="true"
